:root {
    --footer-height: 120px;
    --sidebar-width-md: 300px;
    --sidebare-width-xs: 80px;
}
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    height: 100vh;
    width: 100%;
    color: white;
}

.clerafix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.item:hover {
    color: white;
}

.sidebar-footer-top:hover {
    color: white;
}
/* HEADER */
header {
    height: 100px;
    width: calc(100% - var(--sidebar-width-md));
    background-color: rgba(8, 11, 18, .8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

header>a {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid white;
    padding: .8rem 2.2rem;
    position: absolute; 
    top: 30%;
    right: 1%;
    border-radius: 50px;
}

header>a:hover {
    transform: scale(1.2);
    right: 2%;
}
/* /HEADER */

/* MAIN */
main {
    height: calc(100% - 120px);
    background-color: rgb(20, 25, 34);
}

/* sidebar */
main>.sidebar {
    width: var(--sidebar-width-md);
    height: calc(100vh - 120px);
    background-color: rgb(0, 0, 0);
    float: left;
    overflow: hidden;
}

@media screen and (max-width: 600px){
    main>.sidebar {
        width: var(--sidebare-width-xs);
    }
}

.sidebar-top {
    height: calc(100% - 130px);
    min-height: 500px;
    /* background-color: rgb(182, 182, 19); */
}

.logo-container {
    display: inline-block;
    position: relative;
}

.logo {
    height: 80px;
    font-size: 3em;
    font-weight: 600;
    color: white;
    padding-top: .6em;
    padding-left: .4em;
}

.fa-spotify {
    font-size: 1.5em;
    vertical-align: middle;
    padding-bottom: .2em;
}

.logo>span {
    vertical-align: middle;
}

.fa-registered {
    font-size: .5rem;
    position: absolute;
    top: 25%;
    right: -5%;
}

.sidebar>.sidebar-top>.row-sidebar {
    height: 40px;
    line-height: 40px;
    padding-left: 1.8em;
    margin-bottom: 1em;

    /* TEST */
    /* background-color: blueviolet; */
}

.border-left-green {
    border-left: 3px solid #1DB954;
}


.row-sidebar>.container-img-sidebar {
    display: inline-block;
    height: 80%;
    width: 10%;
    vertical-align: middle;
    
    /* TEST */
    /* background-color: coral; */
}

.row-sidebar>span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #6f6f6f;
    vertical-align: middle;
    margin-left: .3em;
}

span.white {
    color: white;
}

ul.sidebar-list {
    margin-left: 2em;
    margin-top: 3em;
}

li.new-playlist>h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: .8em;
}

#create-playlist:hover >* {
    color: white;
}

.plus-square {
    display: inline-block;
    font-size: 6rem;
    line-height: 70px;
    text-align: center;
    color:black;
    height: 70px;
    width: 70px;
    background-color: #6f6f6f;
    vertical-align: middle;
}

li.new-playlist span {
    font-size: 1.5rem;
    font-weight: 600;
    color: #6f6f6f;
    vertical-align: middle;
    margin-left: .5em;
}

ul.sub-list-sidebar {
    margin-top: 1.5em;
    overflow-y: auto;
    height: 300px;
}

li.playlist-name {
    color: #6f6f6f;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 50px;
}

.sidebar-footer {
    width: 100%;
    margin-top: 5%;
    height: 130px;
}

.sidebar-footer-top {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #6f6f6f;
    font-size: 1.2rem;
    font-weight: 600;
    color:#6f6f6f;
}

.fa-arrow-alt-circle-down {
    margin-right: 1em;
}

.sidebar-footer-bottom {
    width: 90%;
    margin: 0 auto;
    height: 80px;
}

.sidebar-footer-user {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: #6f6f6f;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

.sidebar-footer-user>img {
    height: auto;
    width: 40px;
}

.sidebar-footer-bottom-text {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: .5em;
    line-height: 80px;
    vertical-align: middle;
}
/* /sidebar */
.col-main {
    float: left;
    width: calc(100% - var(--sidebar-width-md));
    height: calc(100vh - 120px);
    overflow-y: auto;

    /* TEST */
    /* background-color: #b4ff31; */
}

.container {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding-bottom: 20px;
    /* background-color: #8a2f2f; */
}

.main-nav-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 120px;
    text-align: center;

    /* background-color: aqua; */
}

nav.main-nav li.main-nav-item {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    color: #7a7a7a;
    margin: 0 1em;
    text-transform: uppercase;
    line-height: 30px;
}

li.half-border-bottom {
  background: linear-gradient(#1DB954,#1DB954) bottom no-repeat;
  background-size: 40% 4px;
}

li.main-nav-item.white-hover:hover {
    color: white;
}

h2.section-title {
    font-size: 2.2rem;
    margin-top: 2em;
}

.section-subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: #8f8f8f;
    line-height: 65px;
}

.box-playlists {
    margin-top: 2em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background-color: #b4ff31; */
}

.card {
    width: calc(280px - 2em);
    margin-right: 2em;
}

.card img {
    width: 100%;
}

.br-50 {
    border-radius: 50%;
    overflow: hidden;
}
.card>.card-bottom {
    text-align: center;
}
.card .card-title {
    font-size: 1.8em;
    margin: .6em 0;
}
.card-subtitle {
    font-size: 1.1rem;
    color: #6f6f6f;
    font-weight: 600;
}

/* /MAIN */

/* FOOTER */
footer {
    height: 120px;
    background-color: rgb(40, 40, 40);
}

.content-footer-container {
    height: 100%;
    display: flex;

    /* test */
    /* background-color: crimson; */
}

.content-footer-container .footer-left {
    width: 300px;
    min-width: 250px;
    /* background-color: rgb(209, 123, 18); */
}

.listening {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: middle;

    /* background-color: #1DB954; */
}

.track-title {
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
    margin-left: 15px;
}

.track-listening-title {
    font-size: 2em;
    /* margin-bottom: 5px; */
}

.track-listening-sub {
    font-size: 1.5em;
    font-weight: 600;
    color: #6f6f6f
}

.footer-left-btns-container {
    display: inline-block;
    font-size: 2em;
    color: #6f6f6f;
    vertical-align: middle;
    margin-top: 25px;
    margin-left:  10px;
}

.footer-left-btn {
    color: inherit
}

.footer-left-btn:hover {
    color: white;
}

.footer-left-btn.heart:hover {
    color: rgb(255, 41, 41);
}

.content-footer-container .footer-center {
    /* display: flex;
    justify-content: center; */
    position: relative;
    flex-grow: 1;
    /* background-color: blueviolet; */
}


.footer-center-btns-container {
    width: 30%;
    height: 50px;
    margin: 20px auto 0;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-progress-bar {
    font-size: 2em;
    color: #6f6f6f;
}

.btn-progress-bar:hover {
    color: white;
    transform: scale(1.2);
}

.btn-play {
    font-size: 2.8em;
    color: #6f6f6f;
    text-align: center;
    width: 49px;
    height: 49px;
    line-height: 41px;
    border: 5px solid #6f6f6f;
    border-radius: 50%;
}

.btn-play:hover {
    color: white;
    transform: scale(1.2);
    border: 5px solid #ffffff;
}


.progress-bar-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-50%);

    /* test */
    /* border: 1px solid black; */
}

.video-length {
    font-size: 2em;
}

.footer-center .video-progress-bar {
    /* display: inline-block; */
    width: 80%;
    margin: 10px auto 0;
    height: 5px;
    background-color: #5f5f5f;
    border-radius: 5px;
}

.video-progress-bar .progress-bar {
    position: relative;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background-color: #838383;
}

.video-progress-bar:hover .progress-bar {
    background-color: #1DB954;
}

.progress-bar-point {
    display: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: -5px;
    right: -5px;

}

.video-progress-bar:hover .progress-bar-point {
    display: block;
}

.content-footer-container .footer-right {
    width: 300px;
    min-width: 250px;
    flex-shrink: 0;

    /* background-color: rgb(27, 230, 54); */
}

.footer-right-btns-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
    color: white;

    /* background-color: #b91d9f; */
}

.footer-right-btn {
    color: inherit;
}

.footer-right-btn:hover {
    color: #1DB954;
}

.volume {
    width: 50%;
    height: 5px;
    background-color: #6f6f6f;
    border-radius: 5px;
}

.volume-level {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #8f8f8f;
    border-radius: 5px;
}

.volume:hover > .volume-level {
    background-color: white;
}

.volume-point {
    display: none;
    position: absolute;
    right: -5px;
    top: -5px;
    height: 15px;
    width: 15px;
    background-color: #1DB954;
    border-radius: 50%;
}

.volume:hover .volume-point {
    display: block;
}
/* /FOOTER */

