/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}
/* HEADER */
header {
    height: 100px;
    width: calc(100% - 400px);
    background-color: rgba(8, 11, 18, .8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

header>a {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid white;
    padding: .8rem 2.2rem;
    position: absolute; 
    top: 30%;
    right: 1%;
    border-radius: 50px;
}
/* /HEADER */

/* MAIN */
main {
    height: calc(100% - 120px);
    background-color: rgb(20, 25, 34);
    overflow-y: auto;
}

main>.col-aside {
    height: 100%;
    width: 400px;
    background-color: rgb(0, 0, 0);
}


.logo-container {
    display: inline-block;
    position: relative;
}

.logo {
    height: 100px;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    padding-top: .5em;
    padding-left: .5em;
}

.fa-spotify {
    font-size: 3.5rem;
    vertical-align: middle;
}

.logo>span {
    vertical-align: middle;
}

.fa-registered {
    font-size: .5rem;
    position: absolute;
    top: 25%;
    right: -5%;
}

main .col-aside>.row-aside {
    height: 50px;
    line-height: 50px;
    padding-left: 1.8em;
    margin-bottom: 1em;

    /* TEST */
    /* background-color: blueviolet; */
}

.border-left-green {
    border-left: 3px solid #b4ff31;
}

.row-aside>.container-img-aside {
    display: inline-block;
    height: 80%;
    width: 10%;
    vertical-align: middle;

    /* TEST */
    /* background-color: coral; */
}

.row-aside>span {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    vertical-align: middle;
    margin-left: .3em;
}
/* /MAIN */

/* FOOTER */
footer {
    height: 120px;
    background-color: rgb(40, 40, 40);
}
/* /FOOTER */

