/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}
/* HEADER */
header {
    height: 100px;
    width: 80%;
    background-color: rgba(8, 11, 18, .8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

header>a {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid white;
    padding: .8rem 2.2rem;
    position: absolute; 
    top: 30%;
    right: 1%;
    border-radius: 50px;
}
/* /HEADER */

/* MAIN */
main {
    height: calc(100% - 120px);
    background-color: rgb(20, 25, 34);
}

main>.col-aside {
    height: 100%;
    width: 20%;
    background-color: rgb(0, 0, 0);
}

main .col-aside>.row-aside {
    height: 50px;
    background-color: blueviolet;
    margin-bottom: 1em;
}

.logo-container {
    display: inline-block;
    position: relative;
}

.logo {
    height: 100px;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    padding-top: .5em;
    padding-left: .5em;
}

.fa-spotify {
    font-size: 3.5rem;
    vertical-align: middle;
}

.logo>span {
    vertical-align: middle;
}

.fa-registered {
    font-size: .5rem;
    position: absolute;
    top: 25%;
    right: -5%;
    
}

/* /MAIN */

/* FOOTER */
footer {
    height: 120px;
    background-color: rgb(40, 40, 40);
}
/* /FOOTER */

